<div class="row">
  <div class="col-sm-12">
    <h3><span class="glyphicon glyphicon-envelope"></span> Contato</h3>
  </div>
</div>
<form name="frmContato">
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <span class="input-group-addon">Nome</span>
        <input type="text" class="form-control" placeholder="Nome">
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <span class="input-group-addon">Email</span>
        <input type="mail" class="form-control" placeholder="Email">
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <span class="input-group-addon">Mensagem</span>
        <textarea class="form-control" rows="8" cols="40"></textarea>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-large btn-block btn-info">Enviar</button>
      <br>
    </div>
  </div>
</form>
